@charset "utf-8";

/* ------------
     common 
---------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  width: 100%;
  font-family: 'Noto Serif JP', serif;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

p {
  line-height: 1.6;
}

.container {
  margin: 0 auto;
  width: calc(100% - 16px * 2);
  max-width: 960px;
  outline: 1px solid red;
}

section {
  width: 100%;
  /* padding-top: 120px; */
  /* padding-bottom: 104px; */
}

/* .section-title {
  padding-bottom: 56px;
  font-size: 48px;
  font-weight: normal;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  letter-spacing: .2rem;
} */

/* .section-title-ja {
  font-family: 'Noto Serif JP', serif;
  font-size: 16px;
  display: block;
} */

/* ------------
    header
---------------*/

header {
  position: fixed;
  /* top: 0; */
  height: 100px;
  outline: 1px solid red;
  z-index: 100;
}

/* ------------
    main-visual
---------------*/

#main-visual {
  outline: 1px solid red;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  background-image: url("img/mv-model.png");
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
}

#main-visual .container {
  padding-left: 80px;
  padding-bottom: 56px;
}

.catchphrase {
  padding-top: 100px;
  /* margin-left: 80px; */
  width: 400px;
}

.sub-catchphrase p {
  font-size: 24px;
  font-weight: 600;
  margin-top: 56px;
  /* margin-left: 80px; */
  display: inline-block;
  position: relative;
}

.sub-catchphrase p::before,
.sub-catchphrase p::after {
 content: '';
 position: absolute;
 background-color: #AB2239;
 width: 80px;
 height: 2px;
 top: 50%;
}

.sub-catchphrase p::before {
  left: -112px;
}

.sub-catchphrase p::after {
  right: -112px;
}

.sub-catch-pc {
  display: none;
}

.selling-points {
  outline: 1px solid red;
  margin-top: 56px;
  /* margin-left: 80px; */
  /* width: calc(100% - 80px); */
  width: 70%;
  display: flex;
  gap: 56px;
}

.selling-points img {
  display: block;
  width: calc((100% - 112px) / 3);
}

.sub-selling-points {
  margin-top: 24px;
}

.sub-selling-points p {
  font-size: 20px;
}

/* ------------
    campaign
---------------*/

#campaign {
  /* height: 1068px;    */
  position: relative;
  overflow: hidden;
  z-index: 0;
 
}

#campaign::before {
  content: '';
  background-image: url("img/campaign-bg.jpg");
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  filter: blur(8px);
  z-index: -1;
}

#campaign .container {
  outline: 1px solid red;
  margin: 80px auto;
  /* height: 917px;  */
  border: 8px solid rgba(171, 34, 57, 0.5);
}

.campaign-date {
  width: 40%;
  margin: 0 auto;
  margin-top: 80px;
}

.campaign-title h2 {
  font-size: 40px;
  font-weight: 400;
  width: fit-content;
  background-color: rgba(171, 34, 57, 0.5);
  margin: 0 auto;
}

.products {
  width: 80%;
  background-color: #fff;
  margin: 24px auto 56px auto;
  /* text-align: center; */
  padding: 32px 0;
  border-radius: 16px;
}

.products h3 {
  font-size: 24px;
  font-weight: 400;
  /* padding-top: 32px; */
  text-align: center;
}

.products-inner {
  width: 80%;
  margin: 0 auto;
}

.products-img {
  margin: 16px auto 0 auto;
  /* width: 70%; */
  position: relative;
}

.products-img > img {
  border-radius: 16px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

.campaign-text {
 width: 150px;
  position: absolute;
  top: 56px;
  left: 8px;
}

.products-price {
  /* width: 70%; */
  margin: 0 auto;
  position: relative;
}

.off-price {
  width: 88px;
  position: absolute;
  top: -40px;
  right: -56px;
}

.products-details {
margin-top: 16px;
}

.products-details p {
  font-size: 12px;
}

.products-details p + p {
  margin-top: 4px;
}

/* ------------
    troubles
---------------*/

#troubles {
  /* height: 786px;  */
  /* 仮の高さ */
  /* background-image: url("img/troubles-bg.jpg"); */
  /* filter: saturate(70%) brightness(50%); */
  position: relative;
  overflow: hidden;
  z-index: 0;
  color: #fff;
  padding-bottom: 80px;
}

#troubles::before {
  content: '';
  background-image: url("img/troubles-bg.jpg");
  background-position: center top;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: saturate(70%) brightness(50%);
  z-index: -1;
}

.section-title {
  padding-top: 80px;
}

.section-title h3 {
  width: fit-content;
  margin: 0 auto;
  /* color: #fff; */
  font-weight: 400;
}

.troubles-title h3:first-child {
  font-size: 52px;
  padding-bottom: 4px;
  border-bottom: 2px solid #fff;
}

.troubles-title h3:nth-child(2) {
  font-size: 40px;
  padding-top: 4px;
}

.troubles-inner {
  /* margin: 16px auto 80px auto; */
  margin-top: 16px;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
}

.troubles-lists {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.troubles-lists li {
  /* outline: 1px solid red; */
  width: fit-content;
  text-align: center;
  position: relative;
}

.troubles-lists p {
  font-size: 20px;
}

.troubles-lists span {
  font-size: 40px;
}

.troubles-lists-img {
  width: 244px;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.troubles-lists-right {
  margin-top: 128px;
}

/* ------------
    solution
---------------*/

#solution {
  background-color: rgba(225, 190, 170, 0.7);
  padding-bottom: 80px;
}

.solution-title {
  width: 100%;
  padding-bottom: 80px;
  background-image: url("img/solution-title-bg.png");
  background-position: center bottom;
}

.solution-title h3 {
  font-size: 24px;
  font-weight: 700;
}

.points-list {
  width: 100%;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 48px;
}

.points-list li {
  background-color: #fff;
  padding: 32px;
  width: calc((100% - 96px) / 3);
  border-radius: 16px;
}

.point-title {
  display: flex;
  gap: 16px;
  align-items: center;
  border-bottom: 2px solid #AB2239;
}

.point-title h4 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #AB2239;
}

.point-title > h4 span {
  font-size: 18px;
}

.list-number {
  width: fit-content;
  text-align: center;
}

.list-number span {
  transform: translateY(8px);
  text-transform: uppercase;
  font-size: 12px;
  display: block;
}

.list-number p {
  font-size: 32px;
  /* transform: translateX(-4px); */
}

.point-text {
  margin-top: 16px;
}

/* ------------
    usage
---------------*/

#usage {
  background-color: rgba(171, 34, 57, 0.08);
  padding-bottom: 80px;
}

.usage-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 56px;
}

.usage-title::before,
.usage-title::after {
  border-top: 2px solid #AB2239;
  content: "";
  width: 20%;
}

.usage-title h3 {
  font-weight: 700;
  font-size: 24px;
}

.usage-description {
  padding-left: 44px;
  margin-bottom: 56px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.usage-description li {
  width: calc((100% - 80px) / 2);
  position: relative;
}


.usage-number {
  color: #AB2239;
  background-color: #fff;
  border: 1px solid #AB2239;
  border-radius: 50%;
  width: 20%;
  padding: calc(10% - 35.33475px) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* top: -44px;
  left: -44px; */
  top: -10%;
  left: -10%;
}

/* .usage-img {
  position: relative;
  width: 100%;
  height: fit-content;
}

.usage-img::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 20px rgba(171, 34, 57, 0.08),
              inset 0 0 20px rgba(171, 34, 57, 0.08),
              inset 0 0 20px rgba(171, 34, 57, 0.08),
              inset 0 0 20px rgba(171, 34, 57, 0.08);
} */

.usage-text {
  font-size: 20px;
  margin-top: 24px;
}

.usage-point {
  background-color: #fff;
  width: 40%;
  border-radius: 16px;
  padding: 60px 32px 32px;
  border: 2px solid #AB2239;
  margin: 0 auto;
  position: relative;
}

.usage-point-title {
  background-color: #AB2239;
  width: 23%;
  padding: calc(11.5% - 17px) 0;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25%;
  left: 32px;
}

.usage-point-title p {
  text-transform: capitalize;
  font-size: 20px;
  color: #fff;
}

/* ------------
    voices
---------------*/
#voices {
  padding-bottom: 80px;
}

.voices-title {
  margin-bottom: 56px;
}

.voices-title-img {
  margin: 0 auto;
  width: 50%;
}

.voices-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 80px;
}

.voices-list li {
  padding: 32px;
  display: flex;
  flex-direction: column;
  width: calc((100% - 80px) / 2);
  border: 1px solid #AB2239;
  border-radius: 16px;
}

.voices-list-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:16px;
  border-bottom: 2px solid #AB2239;
  padding-bottom: 32px;
}

.voice-icon {
  width: 38%;
}

.speech-babble {
  padding: 8px;
  border: 1px solid #AB2239;
  border-radius: 16px;
  position: relative;
}

.speech-babble::before {
  content: '';
  background-color: #AB2239;
  height: 13px;
  width: 13px;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  position: absolute;
  top: calc(50% - 6.5px);
  left: -13px;
}

.speech-babble p {
  font-size: 20px;
  color:#AB2239;
  font-weight: 600;
}

.voices-list-text {
  margin-top: 32px;
  margin-bottom: 24px;
}

.voices-name {
  margin-top: auto;
  text-align: right;
}